.wc__info [card-type] {
  color: var(--type-color);
}

.wc__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wc__image {
  border-radius: 0.4em;
  width: unset;
  max-height: 300px;
}

.wc__tag::before {
  content: "✧";
}

.wc__cost {
  color: darkblue;
}
.wc__cost::before {
  content: "♦";
}

.wc__info ol {
  counter-reset: item;
  list-style-type: none;
}

.wc__info ol li::before {
  content: "Level " counter(item, decimal) ": ";
  font-weight: bold;
  counter-increment: item;
}
