name: custom-pages-build-deployment

on:
  push:
    branches:
      - trunk

env:
  JEKYLL_ENV: production

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3.0.2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - uses: jeffreytse/jekyll-deploy-action@v0.3.1
        with:
          provider: github
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ''
          branch: gh-pages
          jekyll_src: './docs'
          jekyll_cfg: _config.yml
